# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# macOS files
.DS_Store

# Output folders
output/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Streamlit cache
.streamlit/secrets.toml
